.commentsContainer {
  display: flex;
  flex-direction: column;
}

.commentBox {
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.7);
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.commentInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  font-size: 17px;
  height: 25px;
}

.commentInfo-Left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.commentInfo-Username {
  padding-right: 10px;
}

.commentInfo-Time {
  padding: 0 10px;
}


/* Like Button */
.commentInfo-Likes {
  display: flex;
  align-items: center;
  height: 25px;
  border-radius: 5px;
  transition: all 1s;
  padding: 0 10px;
}

.commentInfo-Likes.clickable.notLiked:hover {
  transition: all .5s;
  box-shadow: inset 0px 0px 4px rgb(0, 167, 0);
  color: black;
}

.commentInfo-Likes.clickable.isLiked:hover {
  transition: all .5s;
  box-shadow: inset 0px 0px 4px red;
  color: black;
}


/* Edit Button */
.commentBox-EditBtn {
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 25px;
  font-size: 17px;
  background: none;
  color: gray;
  transition: all 1s;
}

.commentBox-EditBtn:hover {
  transition: all .5s;
  background-color: lightblue;
  color: black;
}
