.commentsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.7);
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 50vw;
}

.commentInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  font-size: 17px;
  height: 25px;
}

.commentInfo-Left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.commentInfo-Footer {
  display: flex;
  justify-content: flex-end;
}


/* Edit Button */
.commentBox-EditBtn {
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 25px;
  font-size: 17px;
  background: none;
  color: gray;
  transition: all 1s;
}

.commentBox-EditBtn:hover {
  transition: all .5s;
  background-color: lightblue;
  color: black;
}
