.communityBox {
  border: 2px solid rgb(247, 247, 247);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.7);
  height: 85px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: rgba(255, 255, 255, .7);
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.communityName {
  font-size: 30px;
}

/* Back Button */
.backBtn {
  border: 1px solid gray;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  font-size: 15px;
  transition: all 1s;
}

.backBtn:hover {
  transition: all .5s;
  background-color: lightgoldenrodyellow;
}


/* Create Button */
.createBtn {
  border: 1px solid gray;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  font-size: 15px;
  transition: all 1s;

}

.createBtn:hover {
  transition: all .5s;
  background-color: lightgreen;
}
