.threadDetails-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.threadDetails-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 50%;
}

.threadDetails-Title {
  display: flex;
  align-items: center;
  font-size: 30px;
  height: 40px;
}

.threadDetails-Desc {
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  min-height: 85px;
  margin: 10px 0;
}

.threadDetails-Desc>p {
  margin: 10px;
  font-size: 20px;
}

.threadDetails-Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.threadDetails-Likes {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}


/* Reply Button */
.threadDetails-ReplyBtn {
  border: 1px solid black;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  font-size: 15px;
  transition: all 1s;
}

.threadDetails-ReplyBtn:hover {
  transition: all .5s;
  width: 80px;
  background-color: lightgreen;
}

.threadDetails-ReplyBtn:hover::after {
  content: ' Reply';
}


/* Edit Button */
.threadDetails-EditBtn {
  border: 1px solid black;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  font-size: 15px;
  transition: all 1s;
}

.threadDetails-EditBtn:hover {
  transition: all .5s;
  width: 70px;
  background-color: lightblue;
}

.threadDetails-EditBtn:hover::after {
  content: ' Edit';
}


/* Back Button */
.threadDetails-BackBtn {
  border: 1px solid black;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  font-size: 15px;
  transition: all 1s;
}

.threadDetails-BackBtn:hover {
  transition: all .5s;
  width: 70px;
  background-color: lightgoldenrodyellow;
}

.threadDetails-BackBtn:hover::after {
  content: ' Back';
}


/* Hidden Btn for layout purposes */
.hiddenBtn {
  visibility: hidden;
  width: 40px;
  height: 40px;
}
