.threadDetailsWrapper {
  display: flex;
  justify-content: center;
}

.threadDetails {
  width: 50vw;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.7);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.threadDetails-Title {
  font-size: 30px;
}

.threadDetails-Desc {
  font-size: 20px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.threadDetails-Image {
  border-radius: 10px;
  max-width: 100%;
  object-fit: contain;
}

.threadDetails-Footer {
  display: flex;
  justify-content: space-between;
  color: gray;
  font-size: 17px;
}

/* Edit Button */
.threadDetails-EditBtn {
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 25px;
  font-size: 17px;
  background: none;
  color: gray;
  transition: all 1s;
}

.threadDetails-EditBtn:hover {
  transition: all .5s;
  background-color: lightblue;
  color: black;
}
