.threadDetails-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.threadDetails-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 10px 0;
  width: 50%;
}

.threadDetails-Title {
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.7);
  padding: 0 10px;
  font-size: 30px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.7);
}

.threadDetails-Desc {
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.7);
  width: 50%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.threadDetails-Info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  font-size: 17px;
  margin-top: 10px;
}

.threadDetails-Username:hover {
  color: black;
  text-decoration: underline;
}

.threadDetails-Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.threadDetails-Image {
  border-radius: 10px;
  width: 300px;
}

.threadDetails-Likes {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(240, 240, 240, 1);
}


/* Reply Button */
.threadDetails-ReplyBtn {
  border: 1px solid gray;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  font-size: 15px;
  transition: all 1s;
}

.threadDetails-ReplyBtn:hover {
  transition: all .5s;
  background-color: lightgreen;
}


/* Edit Button */
.threadDetails-Edit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 50px;
  height: 25px;
  transition: all 1s;
}

.threadDetails-Edit:hover {
  transition: all .5s;
  background-color: lightblue;
  color: black;
}


/* Back Button */
.threadDetails-BackBtn {
  border: 1px solid gray;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  font-size: 15px;
  transition: all 1s;
}

.threadDetails-BackBtn:hover {
  transition: all .5s;
  background-color: lightgoldenrodyellow;
}


/* Hidden Btn for layout purposes */
.hiddenBtn {
  visibility: hidden;
  width: 40px;
  height: 40px;
}
