.threadsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.threadBox {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 85px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.threadBox:hover {
  border: 2px solid gray;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.7);
}

.threadTitle {
  font-size: 20px;
}
