* {
  font-family: Arial;
}

.editThread-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editThread-Form>p {
  margin: 0;
  margin-bottom: 5px;
}

.editThread-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 50%;
}

.editThread-Title {
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 25px;
  width: 500px;
  height: 35px;
  background-color: rgba(173, 216, 230, .5);
  text-align: center;
}

.editThread-Desc {
  border: 1px solid gray;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 20px;
  width: 50%;
  min-height: 85px;
  margin-bottom: 10px;
  background-color: rgba(173, 216, 230, .5);
  padding: 10px;
}


/* Back Button */
.editThread-BackBtn {
  border: 1px solid gray;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  transition: all 1s;
}

.editThread-BackBtn:hover {
  transition: all .5s;
  background-color: lightgoldenrodyellow;
}


/* Submit Button */
.editThread-SubmitBtn {
  border: 1px solid gray;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  transition: all 1s;
}

.editThread-SubmitBtn:hover {
  transition: all .5s;
  background-color: lightgreen;
}


/* Delete Button */
.editThread-DeleteBtn {
  border: 1px solid gray;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  transition: all 1s;
}

.editThread-DeleteBtn:hover {
  transition: all .5s;
  background-color: rgb(255, 125, 125);
}


/* Delete Btn Alignment */
.alignCenterDiv {
  display: flex;
  justify-content: center;
}

.editThread-DeleteBtnDiv {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
