.grid {
  display: grid;
  grid-template-columns: 1fr 50vw 1fr;
}

.gridLeft {
  padding: 10px;
  padding-top: 0;
}

.gridRight {
  padding: 10px;
  padding-top: 0;
}


/* New Thread Button */
.newThreadBtn {
  border: 1px solid gray;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  font-size: 15px;
  transition: all 1s;
  margin: 0;
}

.newThreadBtn:hover {
  transition: all .5s;
  background-color: lightgreen;
}
