/* site-wide styles */

body {
  margin: 0;
  font-family: Arial;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

body::-webkit-scrollbar {
  display: none;
}

.clickable:hover {
  cursor: pointer;
}
