/* site-wide styles */

body {
  margin: 0;
  font-family: Arial;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

body::-webkit-scrollbar {
  display: none;
}

.clickable:hover {
  cursor: pointer;
}


.error {
  color: rgb(207, 0, 0);
}


.gGlow:hover {
  transition: all .5s;
  background-color: lightgreen;
}
