.createThread-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.createThread-Form>p {
  margin: 0;
  margin-bottom: 5px;
}

.createThread-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.createThread-HeaderTitle {
  font-size: 30px;
}

.createThread-Title {
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 25px;
  width: 100%;
  height: 40px;
  background-color: rgba(173, 216, 230, .5);
  text-align: center;
  margin-bottom: 10px;
}

.createThread-Desc {
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 75vh;
  font-size: 20px;
  background-color: rgba(173, 216, 230, .5);
  padding: 10px;
  margin-bottom: 10px;
}


/* Back Button */
.createThread-BackBtn {
  border: 1px solid black;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  transition: all 1s;
}

.createThread-BackBtn:hover {
  transition: all .5s;
  background-color: lightgoldenrodyellow;
}


/* Submit Button */
.createThread-SubmitBtn {
  border: 1px solid black;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  transition: all 1s;
}

.createThread-SubmitBtn:hover {
  transition: all .5s;
  background-color: lightgreen;
}


/* Image Button */
.addImage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadImageBtn {
  font-size: 75px;
  color: gray;
}


/* Image Preview */
.createThread-ImageCtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.createThread-ImagePreview {
  border-radius: 10px;
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  transition: .5s;
}

.textOverlay {
  position: absolute;
  opacity: 0;
  transition: .5s;
  font-size: 30px;
}

.createThread-ImageCtn:hover .createThread-ImagePreview {
  transition: .5s;
  opacity: .3;
}

.createThread-ImageCtn:hover .textOverlay {
  transition: .5s;
  opacity: 1;
}
