.imagesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}

.imageBox {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 5px;
}
