.navContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 15px;
}

.navContainer>h1 {
  width: fit-content;
  margin: 10px;
}

.profileBtn {
  position: relative;
}

.profile-dropdown {
  position: absolute;
  left: -100px;
}
